<main>
    <h1 class="title">Shopping List</h1>
    <% if @shopping_list.empty? %>
    <p>There is nothing to shop. You have everything you need!</p>
    <% else %>
    <div class="shopping_list_p flex">
        <p>Amount of food items to buy: <strong><%= @shopping_list.count%></strong></p>
        <p>Total value of food needed: <strong>$<%= @shopping_list.sum { |food| food.price * food.quantity } %></strong></p>
    </div>
    <table class="tables">
        <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>Price</th>
       </tr>
    <% @shopping_list.each do |food| %>
       <tr>
         <td><%= food.name%></td>
         <td><%= food.quantity%><%= food.measurement_unit%></td>
         <td>$<%= food.price%></td>
       </tr>
    <% end %>
    </table>
    <% end %>
</main>
