<div>
  <div class="content">
    <h1><%= @recipe.name %></h1>
    <div class="recipe-details">
      <div class="details">
        <p>Preparation Time: <%= @recipe.preparation_time %> hours</p>
        <p>Cooking Time: <%= @recipe.cooking_time %> hours</p>
        <div class="steps">
          steps go here...
        </div>
      </div>
      <div class = "public">
        <p>Public</p>
        <label class="toggle" data-recipe-id="<%= @recipe.id %>">
          <input type="checkbox" id="public-toggle" <%= @recipe.public ? 'checked' : '' %>>
          <span class="slider"></span>
        </label>
      </div>
    </div>

    <div class="recipe-buttons">
      <button>Generate shopping list</button>
      <% if can? :update, @recipe  %>
        <%= link_to 'Add ingredient', recipe_food_new_path(@recipe.id,@recipe.id) %>
      <% end %>
    </div>
    <table>
      <thead>
        <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>Value</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @foods.each do |food| %>
          <tr>
            <td><%= food.name %></td>
            <td><%= food.quantity %></td>
            <td><%= food.price %></td>
            <td>
              <button>Modify</button>
              <button>Delete</button>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
