<nav>
  <ul>
    <li><%= link_to 'Recipes App', recipes_path %></li>
    <div>
     <li><%= link_to 'My recipes', recipes_path %></li>
     <li><%= link_to 'My Foods', foods_path %></li>
     <li><%= link_to 'Public recipes', public_recipes_path %></li>
     <li><%= link_to 'General shopping list', general_shopping_list_index_path %></li>
    </div>
  </ul>
</nav>
