<h1>Add Ingredient to Recipe</h1>

<%= form_with(model: [@recipe, @recipe_food], url: recipe_recipe_foods_path(@recipe), method: :post) do |form| %>
  <div>
    <%= form.label :food_id %>
    <%= form.select :food_id, options_from_collection_for_select(@foods, :id, :name) %>
  </div>
  <div>
    <%= form.label :quantity %>
    <%= form.number_field :quantity, min: 1%>
  </div>
  <div>
    <%= form.submit "Add Ingredient" %>
  </div>
<% end %>
